@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mulish:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5% 10%;
  background-color: #131416;
}

.feed {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 350px;
  gap: 16px;
  margin: 40px 0 40px 0;
}

.card__category {
  font-family: Mulish, sans-serif;
  font-size: 1.1rem;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #ecf0f1;
  margin: 0;
}

.card__title {
  font-family: Libre Baskerville, serif;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #ecf0f1;
  margin: 10px 0 0 0;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.card:nth-child(1) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img1.jpg);
}

.card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img2.jpg);
}

.card:nth-child(3) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img3.jpg);
}

.card:nth-child(4) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img4.jpg);
}

.card:nth-child(5) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img5.jpg);
}

.card:nth-child(6) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img6.jpg);
}

.card:nth-child(7) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img7.jpg);
}

.card:nth-child(8) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img8.jpg);
}

.card:nth-child(9) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(./images/img9.jpg);
}

.card:nth-child(1),
:nth-child(6),
:nth-child(7) {
  grid-column-start: span 6;
}

.card:nth-child(2),
:nth-child(3),
:nth-child(4),
:nth-child(5),
:nth-child(8),
:nth-child(9) {
  grid-column-start: span 3;
}

/* Media Quires */

@media screen and (max-width: 1200px) {
  .card:nth-child(n) {
    grid-column-start: span 6;
  }
}

@media screen and (max-width: 800px) {
  .card:nth-child(n) {
    grid-column-start: span 12;
  }
}
